@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import "form.css";

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Patua One", serif;
	letter-spacing: 2px;
}

#request__table {
	font-family: "Comfortaa", Arial, sans-serif;
	border-collapse: collapse;
	width: 70%;
}

#request__table td, #request__table th {
	/* border: 1px solid #8b9fac; */
	padding: 8px;
}

#request__table tr:nth-child(even){background-color: #f2f2f2;}

#request__table tr:hover {background-color: #ddd;}

#request__table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4e697b;
	color: white;
}